@model string[]
@{
    ViewData["Title"] = "Оборудование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Model[0]</h3>
<div class="form-group">
    <label for="oldfilterID" class="col-md-12 control-label">@Model[1]</label>
    <select name="oldfilterID" class="form-control" id="oldfilterID">
        @if (Model[3] == "well")
        {
            @foreach (WellEquipment.Models.FilterGroup group in WellEquipment.SaveEquip.Filters_From_File[2].Values)
            {
                <optgroup label="@group.Name">
                    @foreach (WellEquipment.Models.OneFilter filter in group.Cur_Filters.Values)
                    {
                        <option value="@filter.StringID">@filter.Name</option>
                    }
                </optgroup>
            }
        }
        @if (Model[3] == "type")
        {
            @foreach (WellEquipment.Models.FilterGroup group in WellEquipment.SaveEquip.Filters_From_File[1].Values)
            {
                <optgroup label="@group.Name">
                    @foreach (WellEquipment.Models.OneFilter filter in group.Cur_Filters.Values)
                    {
                        <option value="@filter.StringID">@filter.Name</option>
                    }
                </optgroup>
            }
        }
        @if (Model[3] == "maker")
        {
            @foreach (WellEquipment.Models.FilterGroup group in WellEquipment.SaveEquip.Filters_From_File[3].Values)
            {
                <optgroup label="@group.Name">
                    @foreach (WellEquipment.Models.OneFilter filter in group.Cur_Filters.Values)
                    {
                        <option value="@filter.StringID">@filter.Name</option>
                    }
                </optgroup>
            }
        }
    </select>
</div>
<div>
    <label for="newfiltername" class="col-md-12">@Model[2]</label>
    <Input type="text" name="newfiltername" class="form-control" id="newfiltername" />
</div>
<input type="hidden" value="@Model[3]" id="typename" />
<div class="col-md-12">
    <button type="button" onclick="change_filter_click()">Изменить</button>
</div>
<script>
    function change_filter_click() {
        $.post('/Home/ChangeFilter', { 'oldfilterID': $("#oldfilterID").val(), 'newfiltername': $('#newfiltername').val(), 'type': $('#typename').val() }, function (data) {
            if (data != "") {
                alert(data);
            }
            else
                document.location.replace('/Home/EquipInfo/', "");
        });
    }
</script>
